# ignore IDE project files
*.iml
.idea/

.pc

_build

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/gbp.conf
debian/gitlab-ci.yml
debian/golang-github-azure-azure-storage-blob-go-dev.substvars
debian/golang-github-azure-azure-storage-blob-go-dev/

